@model BlitzkriegSoftware.Tenant.Libary.TenantUserProfileBase

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="text-left">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="container-fluid">
        <h2>User</h2>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Value"]</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Localizer["Username"]</td>
                    <td>@Model.UniqueUserId</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>@Model._id</td>
                </tr>
                <tr>
                    <td>@Localizer["Tenants"]</td>
                    <td>@string.Join(",", Model.Tenants)</td>
                </tr>
                <tr><td colspan="2">@Localizer["Settings"]</td></tr>

                @foreach (var s in Model.Settings.Keys)
                {
                    <tr>
                        <td>@s</td>
                        <td>@Model.Settings[s]</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
