@model BlitzkriegSoftware.Tenant.Libary.Models.TenantUserProfileBase

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="container">
        <h2>User</h2>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Username</td>
                    <td>@Model.UniqueUserId</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>@Model._id</td>
                </tr>
                <tr>
                    <td>Tenants</td>
                    <td>@string.Join(",", Model.Tenants)</td>
                </tr>
                <tr><td colspan="2">Settings</td></tr>

                @foreach (var s in Model.Settings.Keys)
                {
                    <tr>
                        <td>@s</td>
                        <td>@Model.Settings[s]</td>
                    </tr>    
                }
                </tbody>
        </table>
    </div>
</div>
